---
layout: default
tagline: Supporting tagline
---

{% include JB/setup %}
			<center>
				<img src="http://pic.yupoo.com/24plus/CU9e2jwL/medish.jpg" title="Joshua" alt="Joshua"/>
			</center>
            <BR/>
			<p>
			七弦，湖北阳新人，二零一二年毕业于华中科技大学集群与网格实验室。少壮没努力，老大堆代码，截至目前为QQ开发团队的客户端开发工程师。
			</p>

			<p>
			喜好: 摇滚 | 摄影 | 口琴 | 游泳 | 游玩。
			</p>
			<p>
			</p>

			<p>
			豆瓣：http://www.douban.com/people/joshualeung/
			</p>

			<p>
			500px: http://500px.com/joshualeung
			</p>

			<p>
			Github: http://joshualeung.github.com
			</p>
{% include JB/comments %}

